body{
    background-image: linear-gradient(104deg, rgb(243, 189, 12) , rgb(247, 119, 15));
    overflow-x: hidden;
}

.sec1{
    display: flex;
    width:90%;
    margin: auto;
    height: 80vh;
    flex-direction: row-reverse;
}

.sec_left{
    width:45%;
    display: flex;
    flex-direction: column;
    
}

.sec_left a{
    width: 40%;
    margin-top:-19rem;
    margin-right:auto;
    margin-left:auto;
   
}
.sec_left a:hover{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.733) ,rgb(255, 255, 255));
}
.sec_left img{
    width:86%;
    margin: auto;
    margin-top: -1.3rem;
    
}
.sec_right{
    width: 36%;
    margin: auto;
    position: relative;
}
.sec_right img{
    width:50%;
}
.ptex{
   
    font-size: 3rem;
    font-family: Rowdies;
    position: absolute;
    margin: 1rem;
    text-align: center;
    padding-left: 10%;
    
    z-index: -2;
}
.sec_right img{
    width: 94%;
    z-index: 2;
}

.exp{
    padding: 1rem 4rem ;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.733) ,rgba(255, 255, 255, 0.63));
    color: rgb(97, 97, 97);
    list-style: none;
    font-size: 1.4rem;
    font-family: Rowdies;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;

}
.sec_left a:hover{
    
        background-image: linear-gradient(34deg, rgb(48, 48, 48) , rgb(82, 82, 82));
    
    color: rgb(255, 196, 0);
}

.card_bg{
    height: 100vh;
    background-color: rgb(59, 59, 59);
}


.cantex{
   color: rgb(255, 187, 0);
    font-family: sans-serif ;
    box-shadow: rgb(138, 110, 17) .1rem;
    margin: 1rem;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: .4rem;
}

.carddark{
    /* height: 60vh; */
    background-color: rgb(75, 75, 75);
    width:34rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 2.2rem;
    
}

.carddark h3{
    margin: 1.7rem;
    color: white;
    font-family: monospace;
    padding-top: 1.4rem;
    margin-top: -3rem;
}

.carddark img{
    padding: .4rem;
    width: 90%;
    margin-left: 1rem;
}

.carddark h4{
    color: rgb(255, 166, 0);
    font-family: monospace;
}

.view_btn{
    padding: 1rem 3rem;
    background-image: linear-gradient(34deg, red , yellow);
    color: white;
    margin: .8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: monospace;
    border-radius: .7rem;
    margin-left: 20rem;
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.view_btn:hover{
   
        background-image: linear-gradient(34deg, rgb(48, 48, 48) , rgb(82, 82, 82));
    
    color: white;
}

.info{
    background-image: green;
    display: flex;
    width: 100%;
    margin: 1rem;
   
}

.left_l{
    width: 50%;
}

.right_r img{
    margin-left: 2rem;
}
.right_r{
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
    width: 100%;
    margin-right: -2rem;
    border: .02rem white solid;
}

.gg{
    margin-top: -2rem;
    color: white;
    padding: 3rem;
    font-family: monospace;
}


.mail{
    padding: 1rem 3rem;
    background-image: linear-gradient(34deg, rgb(184, 6, 6) , rgb(255, 0, 55));
    color: white;
    margin: .8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: monospace;
    border-radius: .7rem;

}


.insta{
    padding: 1rem 3rem;
    background-image: linear-gradient(34deg, rgb(255, 0, 149) , rgb(240, 62, 17));
    color: white;
    margin: .8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: monospace;
    border-radius: .7rem;
    
   
}

.tw{
    padding: 1rem 3rem;
    background-image: linear-gradient(34deg, rgb(81, 206, 255) , rgb(17, 95, 240));
    color: white;
    margin: .8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: monospace;
    border-radius: .7rem;
    
   
}

.blockx{
    display: flex;
    padding: 2rem;
}

.mail:hover{
    background-image: linear-gradient(34deg, rgb(48, 48, 48) , rgb(82, 82, 82));
}
.insta:hover{
    background-image: linear-gradient(34deg, rgb(48, 48, 48) , rgb(82, 82, 82));
}
.tw:hover{
    background-image: linear-gradient(34deg, rgb(48, 48, 48) , rgb(82, 82, 82));
}